<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/logo-white.png" alt="logo" class="logo"></a>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link text-light">Categorias</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container"> 