<nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/logo-white.png" alt="logo" class="logo"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav collapse navbar-collapse me-auto mb-2 mb-lg-0" id="navbarSupportedContent">
            <a href="/" class="nav-link text-light active">Home</a>
            <% categories.forEach(category=> { %>
                <li class="nav-item">
                    <a href="/category/<%= category.slug %>" class="nav-link text-light active">
                        <%= category.title %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
</nav>
<div class="container">