<%- include('../../partials/head.ejs') %>
<div class="bg-degrade-animation">
    <div class="min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h2>Login de Administrador</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/users/authenticate">
                    <input name="email" placeholder="email@exemplo.com" type="text" class="form-control mb-2">
                    
                    <input name="password" placeholder="Digite uma senha" type="password" class="form-control mb-2">
                    
                    <button class="btn btn-primary w-100">Logar</button>
                    <a href="/">
                        <span class="text-center d-block mt-3">Voltar</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>